.gp-timesheet-edit {
    &__section--extended {
        @include gp-flat-form-section;
        @include gp-form-collapse;
    }

    &__section--time .row {
        row-gap: .75rem;
    }

    .col-form-label {
        display: flex;
        align-items: center;
    }

    @media (max-width: 767.98px) {
        &__section--time .row {
            row-gap: .5rem;
        }

        .col-form-label {
            padding-bottom: 0;
        }
    }
}

.modal .gp-timesheet-edit__section--extended {
    padding: 0;
}
